.public-DraftEditorPlaceholder-root {
    z-index: -1;
    position: absolute;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 4px;
    font-size: 16px;
  }

  .DraftEditor-root{
    width: 100%;
    max-width: 100%;
  }